{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="nav-inner">
            <a href="/browse" class="logo">
                📚 Elimu<strong>Local</strong>
            </a>
            <div class="nav-links">
                {{if .LoggedIn}}
                    <span class="nav-user">👤 {{.CurrentUser.Username}}</span>
                    <a href="/upload" class="nav-btn">+ Share resources</a>
                    <a href="/logout" class="nav-logout">Log out</a>
                {{else}}
                    <a href="/login" class="nav-link">Log in</a>
                    <a href="/register" class="nav-btn">Register</a>
                {{end}}
            </div>
        </div>
    </nav>

    <main>
        {{template "content" .}}
    </main>

     <footer>
         <p>🇰🇪 Built for Kenyan university students — ElimuLocal 2026</p>
     </footer>

</body>
</html>
{{end}}
